body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    box-sizing: border-box;
}
.container{
    display: block;
    background-color: #Ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
    width: 350px;
}
h2{
    display: block;
    text-align: center;
    font-size: 32px;
}
.form{
    display: block;
    width: inherit;
}
.form_group{
    display: block;
    width: 100%;
    margin-bottom: 16px;
}
.form_group label{
    display: block;
    margin-bottom: 10px;
}
.form_group input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form_group input:focus{
    border-color: #007BFF;
    outline: none;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background-color 0.4s linear;
}
button:hover {
  background-color: #0056b3;
}
small.error{
    color: red;
    display: none;  
}
small.success{
    color: green;
    display: none;
}